@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h2>Workforce Management</h2>
    <p class="lead">Welcome to Workforce Management Application</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Employees</h2>
        <p>
            Manage company's employees and their skills.
        </p>
        <p><a class="btn btn-default" href="~/Employee">Continue &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Skills</h2>
        <p>Enter and manage available skills</p>
        <p><a class="btn btn-default" href="~/Skill">Continue &raquo;</a></p>
    </div>
</div>